.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  
  .content {
      display: flex;
      align-items: center;
    flex-direction: column;
    padding: 3rem;
    max-width: 85rem;
    gap: 1rem;
    .links {
      width: 100%;
    }
  }
}
