.container {
  display: flex;
  justify-content: center;
  background-color: var(--brand-primary);
  padding: 1rem 4rem 1rem 3.25rem;
  height: 6rem;
  box-shadow: 0px -4px 12px 0px var(--shadow);
  width: 100%;

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 118rem;
    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      gap:1rem;
      img {
        height: 4rem;
      } 
      p {
        font-size: 0.8em;
        color: var(--white);
        font-weight: 300;
      }
      // p {
      //   display: flex;
      //   color: var(--white);
      //   font-size: 0.75rem;
      //   align-items: center;
      //   font-family: "Inter", sans-serif;
      //   font-weight: 300;
      //   margin: 0;
      // }
    }

    .pagesLinks {
      display: flex;
      height: 100%;
      align-items: center;
      display: flex;
      flex-wrap: wrap; // Quebra a linha
      flex-direction: row; //Direção que você deseja
      a,
      span {
        display: flex;
        color: var(--white);
        font-size: 0.75rem;
        align-items: center;
        margin: 0 0.2rem;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
      }

      .social {
        margin-left: 1rem;

        img {
          height: 2.5rem;
          cursor: pointer;
        }
      }
    }

    .menuResponsive {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
    .content {
      .logo {
        img {
          height: 3rem;
        }
        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  @media (max-width: 500px) {
    padding: 0.5rem 1rem;
    .content {
      .logo {
        img {
          height: 2rem;
        }
        p {
          font-size: 0.5rem;
        }
      }

      .pagesLinks {
        display: none;
      }
      .menuResponsive {
        display: flex;
      }
    }
  }
}
